.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 30px;
}

.filters button:hover {
    opacity: 0.9;
}

.locations,
.amenities {
    height: 100%;
    width: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.locations h3,
.amenities h3 {
    font-weight: 600;
    margin: 12px 0 5px 30px;
}

.locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 5px 0 5px 30px;
}

.popover {
    display: none;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 20px 0;
    list-style: none;
    margin: 0;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

.popover h2 {
    font-size: 16px;
    margin: 10px 0 5px 0;
}

.popover ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.popover li {
    margin: 5px 0 5px 30px;
}
