.places {
    text-align: center;
}

.places h1 {
    font-size: 30px;
    text-align: left;
    margin: 20px 0 0 20px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
    margin: 0 0 10px 0;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.max_guest,
.number_rooms,
.number_bathrooms {
    width: 100px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 40px;
}

.max_guest {
    background-image: url('../images/icon_guests.png');
}

.number_rooms {
    background-image: url('../images/icon_bedrooms.png');
}

.number_bathrooms {
    background-image: url('../images/icon_bathrooms.png');
}

.user {
    margin: 10px 0;
    text-align: left;
}

.description {
    text-align: left;
}
